

<div class="section-index">

    <div class="image-index">
        
    </div>

    <div class="container">

        <h1>Welcome to be a volunteer</h1>
        <h4>The volunteers help nonprofits from Afghanistan to Zimbabwe (and hundreds of places in between) access the tools, training, and support they need to be more effective and make our world a better place.</h4>

        <div class="volun-box">
            <div class="col-md-6  mx-auto clear-padding clear-row">
                <div class="left-info">

                    <h2>Become a VOLUNTEER</h2>
                    <h5>(some introduction)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit hendrerit faucibus. Suspendisse hendrerit turpis dui, eget ultricies erat consequat ut. Sed ac velit iaculis, condimentum.</h5>

                    <%= link_to 'Add Your Profile', new_volunteer_path , class:"donate-button"%>
                
                </div>
            </div>

            <div class="col-md-6  mx-auto clear-padding clear-row">
               <div class="image-right">
               </div>
            </div>
        
        
        </div>
    
    
    </div>


</div>




