


<div class="section-volun">

  <div class="image">
  
  </div>

  <div class="container">
    <div class="infor-volu">
      <h1> Meet Our Volunteers</h1>
      <h4> The volunteers help nonprofits from Afghanistan to Zimbabwe (and hundreds of places in between) access the tools, training, and support they need to be more effective and make our world a better place.</h4>
    
    </div>

    <div class="row">
      <div class="pictures-volu">
        <% @volunteers.each do |volunteer| %>
          <div class="col-md-4  mx-auto">
            
                <div class="photo">
                  <%= image_tag volunteer.picture , class:"volunteer-picture"%>
                </div>
                <div class="volun-info">
                  <%= volunteer.name %>
                </div>
            </div>
        <%end%>
      </div>
      
    </div>

  </div>
</div>




	
     

 