


<h1> Meet Our Volunteers</h1>
<h6> The volunteers help nonprofits from Afghanistan to Zimbabwe (and hundreds of places in between) access the tools, training, and support they need to be more effective and make our world a better place.</h6>

  <section>
		<div class="container">
     <% @volunteers.each do |volunteer| %>
        <div class="row">
          <div class="col-12 col-lg-8 mx-auto">
            <div class="photo">
              <%= image_tag volunteer.picture if volunteer.picture.attached? %>
            </div>
            <div>
              <%= volunteer.skill %>
            </div>
               
          </div>
        </div>
      <%end%>
		</div>
	</section>
 