





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <%= image_tag "home-bg-1.jpg", alt: "home-bg-1.jpg",class:"bg"  %>
      <div class="carousel-caption">
        <span class="top-text">Help The</span> <br>
        <span><span class="yellow">Children</span> In Need</span>
        <p>Even the smallest of donations can help change a life</p>
        <button>Donate Now</button>
      </div>
    </div>
    <div class="item">
      <%= image_tag "home-bg-2.jpg", alt: "home-bg-1.jpg",class:"bg" %>
      <div class="carousel-caption">
      <span class="top-text">Help The</span> <br>
        <span><span class="yellow">Children</span> In Need</span>
        <p>Even the smallest of donations can help change a life</p>
        <button>Donate Now</button>
      </div>
    </div>
  
  </div>

  <!-- Controls -->

</div>

