





<div class="payment-success">

    <div class="image-payment">
        
    </div>

    <div class="container">
    <title>
    </title>
      
       <h1 class="title">Thank You for Your Donation! </h1> 
     <h2>You have donated </h2> <h1> $<%= @cart.total_price %></h1> <h2>to help people</h2> 
     
    </div>


</div>




