// Place all the styles related to the charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body, h2,h1,h3,h4{
  margin:0;
  padding:0;
}

.clear-col{
  margin:0;
  padding:0;
}








// create charuty page

.section-charity{
  height: 1100px;
}

.section-charity .image-charity{
  height: 1100px;
  background-image: url('charity-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;;

}

.section-charity .charity-infor{
  padding-top:100px;
}

.charity-infor{
  padding-left:70px;
  width: 500px;
}

.charity-infor h2{
  font-size: 30px;
  font-family: 'Merriweather', serif;

}

.charity-infor h3{
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34);

}
  

.charity-infor .volun-lable{
  margin-top:14px;
  margin-bottom: 12px;
  font-size: 16px;

 
}

.charity-infor .form-control{
  height: 40px;
  border-radius:0;
  font-size: 15px;
}


.charity-infor .form-control:focus{
    border-color:rgb(255, 180, 34);
    box-shadow:none;
 
}

.charity-submit{
  margin-top:20px;
  width: 430px;
  height: 30px;
  background: rgb(255, 180, 34);
  border:none;
  font-size:18px;
}

.picture-charity{
  display:block;
  height: 40px;
  width: 100px;
  background:transparent;

}

.charity-infor .edit{
  margin-bottom: 20px;
}



// show page
.picture{
  height: 300px;
  width: 450px;
}

// index page

.index-picture{
  height: 250px;

}

.infor{
  background: #f6f4ee;
}




// listings page

.section-listings .image-charity{
  height: 300px;
  background-image: url('listing-charity-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;;
}

.section-listings .container{
  margin-top:50px;
}

.search-bar{

  margin-top:40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.search-button{
  display: block;
  height: 200px;
}

.all-projects{
  
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color:black;
}



.all-projects:hover{
  text-decoration: none;
  color:black;
}

.dropdown-toggle{
  margin-right:20px;
  color:black;

}

.dropdown-toggle:hover{
  color:black;

}

.section-listings .form-control{
  width: 600px;
  height: 40px;
  outline:none;
  border-color:rgb(255, 180, 34);
  border-radius: 3px 0 0 3px!important;
}

.section-listings .search-btn{
  
  margin-right:30px;
  width: 70px;
  height: 40px;
  outline:none;
  border-color:rgb(255, 180, 34);
  border-left:none;
  border-radius: 0 3px 3px 0 !important;

}

.section-listings .listing-picture{
  height: 228px;
  width: 343px;
}
.section-listings .listing-row{
  margin-bottom: 30px;
}

.all-projects .project-infor{
  height: 300px;
  padding:18px;
  margin-left:10px;
  width: 343px;
  background: #f6f4ee;
}

.category{
  font-size: 18px;
  color:rgb(255, 180, 34);
}

.section-listings .title{
  margin-bottom: 25px;
  font-size: 20px;
  color:black;
  
}

.section-listings  .title:hover{
  color:rgb(255, 180, 34);

}

.section-listings .content{
  padding-left:10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.section-listings .content p{
  color: #353b48;
  font-size: 13px;
  margin-bottom: 15px;
}
.section-listings .progress{
  border-radius: 2px;
  height: 8px !important;

}

.section-listings .progress-bar{
  height: 8px !important;
}

 .title-top{
  height: 100px;
}

.top-summary{
  height: 100px;
}

.raised-number{
  color:rgb(255, 180, 34);
}

.pagination{
  border-radius: none;
  border-color:rgb(255, 180, 34);
}

.pagination a{
  color:black !important;
  background: transparent  !important;

}

.pagination > li:first-child > a, .pagination > li:first-child > span {

  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

// index page

.section-listings .button{
  margin-top:20px;
}


.edit-button,.delete-button{
  margin-right: 10px;
  height: 30px;
  width: 100px;
  border:none; 
  outline: none;
  border-radius: 5px;
  color:rgb(255, 180, 34);
  background: rgb(255, 180, 34);
}


.edit,.delete{
  color:white;
}
.edit:hover,.delete:hover{
  text-decoration: none;
  color:black;
}



// show page

.charity-show .show-image{
  height: 300px;
  background-image:url('charity-show.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.charity-show .listing-picture{
  margin-bottom: 60px;
  width: 780px;
}

.charity-show .container{
  padding-top:100px;
}

.charity-show .chairty-title{
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

.charity-show .leader{
  margin-top:10px;
  font-size: 18px;
  margin-bottom:10px;
  
}

.charity-show .information-charity{
  padding:50px;
  text-align: justify;
  height: 880px;
  background: #f6f4ee;

}

.information-charity{
  padding-top:80px;
}

.information-charity h2{
  margin-bottom:20px;
}

.information-charity h4{
  line-height: 25px;
  margin-bottom:20px;
}

.listing-picture2{
  width: 300px;
  height: 200px;
}
.lasted-projects{
  margin-bottom: 60px;
  height: 800px;
 
}



.lasted-projects h2{
  margin-bottom: 30px;

}

.title-top2{
  margin-bottom: 20px;
}



.lasted-projects .top-summary{
  height: 80px;
}

.lasted-projects .project-infor{
  margin-left:30px;
  width: 300px;
  height: 200px;
  background: #f6f4ee;
  margin-bottom:20px;
  padding-top:20px;
  padding-left:20px;
}


.lasted-projects  .progress{
  border-radius: 2px;
  height: 8px !important;

}

.lasted-projects  .progress-bar{
  height: 8px !important;
}

.add-cart{
  letter-spacing: 2px;
  width: 300px;
  height: 40px;
  background: rgb(255, 180, 34);
  outline:0;
  border:none;
  font-size: 18px;
  margin-bottom: 20px;
}

.add-cart:hover{
  color:white;

}

.information-charity .organization{
  height: 400px;
  padding-left:30px;
  padding-right: 30px;
}

.message-button{
  color:black;
  text-decoration: none;
  width: 300px;
  height: 40px;
  background: rgb(255, 180, 34);
  outline:0;
  border:none;
  font-size: 18px;
  margin-bottom: 20px;

}


.information-charity .donate{
  height: 200px;
  margin-bottom: 200px;
}

