// Place all the styles related to the charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show page
.picture{
  height: 300px;
  width: 450px;
}

// index page

.index-picture{
  height: 250px;

}

.infor{
  background: #f6f4ee;
}