// Place all the styles related to the chatMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.image-message{
height: 300px;
  background-image: url('message-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.messages-section .container{
  padding-left:50px;
  padding-right: 50px;
  text-align: left !important;
  margin-bottom: 30px;

}


.message-box{
  padding-top:80px;
  margin-bottom: 10px;
}

.message-box .name{
  font-size: 16px;
}

.message-body{
  border-bottom:5px solid white;
  height: 60px;
  background: #f6f4ee;
  
}

.message-button{
  height: 40px;
  width: 150px;
  background: rgb(255, 180, 34);
}

.textarea-message{
  border:1px solid rgb(255, 180, 34);
  display: black;
  width: 74vw;
  margin-bottom: 20px;

}

.conversation{
  font-size: 30px;
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
}


// conversation page

.conversation-image{
  height: 300px;
    background-image: url('conversation-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.conversation-section .container{
  min-height: 400px;
  padding-top:80px;
}

.conversation-section .content{
  margin-bottom: 30px;
  background: #f6f4ee;
}

.conversation-title{
  font-family: 'Merriweather', serif;  
  font-size: 30px;
  margin-bottom: 40px;
}

.user-information{
  position: relative;
  padding:30px;
  border-bottom:3px solid white;
}

.user-information h4{
  margin-bottom:10px;

}
.conver-link, .conver-link2{
  
  display: inline-block;
  height: 30px;
  width: 80px;
  background: rgb(255, 180, 34);
  height: 40px;
  color:black;
  font-size: 18px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}

.conver-link:hover, .conver-link2:hover{
  color:white;
  text-decoration: none;
}


.conver-link{
  position: absolute;
  right:150px;
}

.conver-link2{
  position: absolute;
  right:30px;
}

.user-information .title, .user-information .email{
  font-size: 20px;
  color: rgb(255, 180, 34);
}