
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  margin:0;
  padding:0;
}




.header{
  font-size: 13px;
  height: 40px;
  background: #F6F4EE;
  color:black;
  line-height: 40px;
  padding-left:70px;
 
}
.header .left-info{
  float: left;
  margin-right: 600px;
}

.header span{
  margin-right: 20px;
}
.header span i{
  color:black;
  margin-right: 10px;
}

.header .right-info{
  float: right;
  
}

.header a{
  text-decoration: none;
  color:black;
}


.navbar a{
  color:black !important;
}

.navbar-brand{
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34) !important;
  font-size: 22px;


}


.navbar{
  background: rgb(255, 180, 34);
  margin:0;
  padding:0;
  border:none;
  border-radius: 0;
  font-size: 14px;
  padding-top:5px;
  padding-left:50px;
  padding-right: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}



.dropdown-toggle{
  z-index: 10;
}

.a-commenting{
  font-size: 14px;

}

.dropdown-toggle{

  background: rgb(255, 180, 34) !important;
}






