
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  margin:0;
  padding:0;
}




.header{
  font-size: 14px;
  height: 50px;
  background: #f6f4ee;
  color:black;
  line-height: 50px;
  padding-left:100px;
 
}
.header .left-info{
  float: left;
  margin-right: 450px;
}

.header span{
  margin-right: 20px;
}
.header span i{
  color:black;
  margin-right: 10px;
}

.header .right-info{
  float: right;
  
}

.header a{
  text-decoration: none;
  color:black;
}


.navbar{
  background: black;
  opacity: .7;
  border-radius: 0;
  height: 70px;
  margin:0;
  border:0;

}

// .navbar a{
//   color:black;
// }

.section{
  height: 1000px;
  background: black;
}

.carousel-caption{
  margin-left:-50rem;

  margin-bottom:25rem;
  padding:0;

}
.carousel-caption span{
  font-weight: 1000;
  font-size: 60px;
  font-family: 'Merriweather', serif;

}

.top-text{
  margin-left:-22rem;
}

.carousel-caption .yellow{
 color:rgb(255, 180, 34);
 font-weight: 1000;
  font-size: 60px;
  font-family: 'Merriweather', serif;

}











