
@import "bootstrap-sprockets";
@import "bootstrap";

body, h2,h1,h3,h4{
  margin:0;
  padding:0;
}




.header{
  font-size: 13px;
  height: 40px;
  background: #F6F4EE;
  color:black;
  line-height: 40px;
  padding-left:70px;
 
}
.header .left-info{
  float: left;
  margin-right: 600px;
}

.header span{
  margin-right: 20px;
}
.header span i{
  color:black;
  margin-right: 10px;
}

.header .right-info{
  float: right;
  
}

.header a{
  text-decoration: none;
  color:black;
}


.navbar a{
  color:black !important;
}

.navbar-brand{
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34) !important;
  font-size: 22px;
  height: 50px;


}


.navbar{
  background: rgb(255, 180, 34);
  margin:0;
  padding:0;
  border:none;
  border-radius: 0;
  font-size: 14px;
  padding-top:5px;
  padding-left:50px;
  padding-right: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}



.dropdown-toggle{
  z-index: 10;
}

.a-commenting{
  font-size: 14px;

}

.dropdown-toggle{

  background: rgb(255, 180, 34) !important;
}


// login page

.section-login{
  height: 800px;
}

.section-login .image{
  height: 800px;
  background-image: url('login.jpg');
  background-repeat: no-repeat;

}

.section-login .login{
  padding-top:130px;
}

.login{
  padding-left:70px;
  width: 500px;
}

.login h2{
  font-size: 30px;
  font-family: 'Merriweather', serif;

}

.login h3{
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34);

}
  

.login .login-label{
  margin-top:20px;
  margin-bottom: 12px;
  font-size: 16px;
 
  border-radius:0;
 
}

.login .form-control{
  height: 40px;
  border-radius: 0;
  font-size: 15px;
}


.login .form-control:focus{
    border-color:rgb(255, 180, 34);
    box-shadow:none;
 
}

.login-button{
  margin-top:20px;
  width: 430px;
  height: 30px;
  background: rgb(255, 180, 34);
  border:none;
  font-size:18px;
}

.title{
  display: block;
  font-size: 15px;
  text-decoration: none;
  color:black;
  margin-top:15px;
}

.title:hover{
  text-decoration: none;
  color:rgb(255, 180, 34);
}


.title-password{
  display: block;
  font-size: 15px;
  text-decoration: none;
  color:rgb(255, 180, 34);
}

.title-password:hover{
  text-decoration: none;
  color:rgb(255, 180, 34);
}



// sign Up page


.section-signup{
  height: 800px;
}

.section-signup .image-signup{
  height: 800px;
  background-image: url('signup-bg.jpg');
  background-repeat: no-repeat;

}

.section-signup .signup{
  padding-top:110px;
}

.signup{
  padding-left:70px;
  width: 500px;
}

.signup h2{
  font-size: 30px;
  font-family: 'Merriweather', serif;

}


.signup h3{
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34);

}

.signup .signup-label{
  margin-top:15px;
  margin-bottom: 12px;
  font-size: 16px;
  border-radius:0;
 
}

.signup .form-control{
  height: 40px;
  border-radius: 0;
  font-size: 15px;
}


.signup .form-control:focus{
    border-color:rgb(255, 180, 34);
    box-shadow:none;
 
}

.signup-button{
  margin-top:20px;
  width: 430px;
  height: 30px;
  background: rgb(255, 180, 34);
  border:none;
  font-size:18px;
}





// footer section


footer .section{
  background: rgb(255, 180, 34);
  height: 100px;
}

footer .section .box{
  padding-left: 40px;
  padding-right:40px;
  padding-top:30px;
  color:black;
}

footer .section .box h4{
  margin-bottom: 20px;
}

footer .section .icon{

  margin-right: 60px;
  font-size: 30px;
}

.icons{
  padding-left:40px;
  padding-top:10px;
  text-align: center;
}






















