


// regination information
.section-oregination{
  height: 800px;
}

.section-oregination .image-oregination{
  height: 800px;
  background-image: url('organization-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;;

}

.section-oregination .vlounteer-oregi{
  padding-top:120px;
}

.vlounteer-oregi{
  padding-left:70px;
  width: 500px;
}

.vlounteer-oregi h2{
  font-size: 30px;
  font-family: 'Merriweather', serif;

}

.vlounteer-oregi h3{
  font-size: 15px;
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34);
  line-height: 23px;

}
  

.vlounteer-oregi .volun-lable{
  margin-top:14px;
  margin-bottom: 12px;
  font-size: 16px;


 
}

.vlounteer-oregi .form-control{
  height: 40px;
  border-radius:0;
  font-size: 15px;
}


.vlounteer-oregi .form-control:focus{
    border-color:rgb(255, 180, 34);
    box-shadow:none;
 
}

.oreganization-submit{
  margin-top:20px;
  width: 430px;
  height: 30px;
  background: rgb(255, 180, 34);
  border:none;
  font-size:18px;
}



// index page


.org-index{
  height: 300px;
  background-image: url('organization-bg2.jpg');
  background-size: cover;
}


// index page
.organization-index{
  height: 1300px;
}



.organization-index .left-info{
  padding-left:30px;
  padding-right: 30px;
  margin-top:60px;
  padding-top:80px;
  background: rgb(255, 180, 34);
  height: 350px;
}


.organization-index .left-info h2{
  color:white;
  font-size: 30px;
  font-weight: 700;
}

.organization-index .left-info h5{
  color:white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}


.profile-button{
  margin-top:30px;
  padding-top:6px;
  display: inline-block;
  height: 40px;
  width: 180px;
  border:1px solid white;
  border-radius: 30px;
  font-size: 16px;
  color:white;
  text-decoration: none;
}

.profile-button:hover{
  color:rgb(255, 180, 34);
  text-decoration: none;
  background: white;
  border-color:rgb(255, 180, 34);

}


.organization-index .image-right{
  margin-top:60px;
  height: 350px;
  background-image: url('organization1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
