// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body, h1{
  margin:0;
  padding:0;
}

.home{
  min-height: 1800px;
  position: relative;
}

.clear-padding{
  padding:0;
}
.clear-row{
  padding-left:0;
  padding-right:0;
}
.clear-col{
  margin:0;
  padding:0;
}

.carousel{
  margin-bottom: 11rem;
}

.carousel-caption{
  margin-left:-50rem;
  margin-bottom:25rem;
  padding:0;

}
.carousel-caption span{
  font-weight: 1000;
  font-size: 60px;
  font-family: 'Merriweather', serif;

}

.top-text{
  margin-left:-22rem;
}

.carousel-caption .yellow{
 color:rgb(255, 180, 34);
 font-weight: 1000;
  font-size: 60px;
  font-family: 'Merriweather', serif;

}

.carousel-caption p{
  font-weight: 1000;
   font-size: 20px;
   font-family: 'Merriweather', serif;
 
 }

 .projects{
   margin-bottom: 80px;
 }

.project{
 width: 480px;
 
}

.project-one{
  position: relative;
  height: 300px;
  width: 490px;
  background-image: url('project3.jpg');
  background-size: cover;
  transition: all 0.6s;
  cursor: pointer;
}

.project-two{
  position: relative;
  height: 300px;
  width: 490px;
  background-image: url('project1.jpg');
  background-size: cover;
  transition: all 0.6s;
  cursor: pointer;
  }

.project-three{
  position: relative;
  height: 300px;
  width: 490px;
  background-image: url('project2.jpg');
  background-size: cover;
  transition: all 0.6s;
  cursor: pointer;
}
.projects{
  overflow: hidden;
}

.projects h1{
  position: absolute;
  top:120px;
  left:150px;
  color:white;
  font-family: 'Merriweather', serif;
  font-size: 30px;
 
}

.donate-button2{
  position: absolute;
  top:230px;
  left:320px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  height: 40px;
  width: 130px;
 background: white;
  border-radius: 30px;
  font-size: 16px;
  color:black;
  text-decoration: none;
}

.project-one:hover{
  transform: scale(1.1);
}

.project-two:hover{
  transform: scale(1.1);
}

.project-three:hover{
  transform: scale(1.1);
}



.donate-button1{
  margin-left:-340px;
  margin-top:30px;
  padding-top:6px;
  display: inline-block;
  height: 40px;
  width: 130px;
  border:1px solid white;
  border-radius: 30px;
  font-size: 16px;
  color:white;
  text-decoration: none;
}

.donate-button1:hover{
  color:white;
  text-decoration: none;
  background: rgb(255, 180, 34);
  border-color:rgb(255, 180, 34);

}



.aboutUs{
  margin-bottom: 80px;
}

.aboutUs h3{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.aboutUs .container{
  text-align:center;
  padding-top:80px;
 
}

.aboutUs .info{
  margin-top:50px;
  display: inline-block;
  height: 50px;
  width: 150px;
  outline:0;
  background: rgb(255, 180, 34);
  border-radius: 25px;
  border:0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.aboutUs .infor-box .container{
  padding-left:40px;
  padding-right: 40px;
}

.aboutUs .title-infor{
  padding-left: 100px;
  padding-right: 100px;
}

.aboutUs .title-infor h2{
  margin-bottom: 30px;
  line-height: 40px;
}

.aboutUs .box1{
  height: 250px;
  background-image: url('aboutus1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.aboutUs .box1:hover{
  
  
}
.aboutUs .box2{
  height: 250px;
  background-image: url('aboutus2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutUs .box3{
  height: 250px;

  background-image: url('aboutus3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutUs .box-infor{
  position: relative;
  padding-top: 30px;
  padding-left:20px;
  padding-right:20px;

  background: #f6f4ee;
  height: 250px;
}

.aboutUs .box-infor p{
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}


.aboutUs .box-infor .signIn{
  position: absolute;
  left:120px;
  bottom: 40px;
  display: block;
  height: 35px;
  width: 120px;
  background: rgb(255, 180, 34);
  color:black;
  font-size: 15px;
  border-radius: 20px;
  font-family: 'Merriweather', serif;
  line-height: 35px;
}

.aboutUs .desc{
  height: 130px;
}




// number-counter

.number-counter{
  position: relative;
  height: 80px;
}

.middle{
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(-50%);
}
.counting-sec{
  padding: 40px 0;
  width: 100%;
  background:rgb(255, 180, 34);
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.col i{
  font-size: 40px;
  color: #333;
}
.num{
  font-size: 40px;
  margin: 20px 0;
}



