// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image-payment{
  height: 300px;
  background-image: url('volunteer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.payment-success .container{
 
  margin-top:60px;
  margin-bottom: 60px;
  text-align: center;
  padding-top:60px;
  min-height: 400px;
  background: #f6f4ee;
 
}

.payment-success .title{
  position: relative;
  font-size: 50px;
  font-family: 'Merriweather', serif;
  margin-bottom: 50px;
  color:black !important;
}

.payment-success .title::before{
  position: absolute;
  left:30%;
  bottom: -10px;
  content:"";
  height:5px;
  width: 400px;
  background: rgb(255, 180, 34);
}

.payment-success h1, .payment-success h2{
  font-size: 50px;
  color:rgb(255, 180, 34);
  
}

.payment-success .infor-box{

  height: 400px;
  background: #f6f4ee;
}