// Place all the styles related to the volunteers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body, h1{
  margin:0;
  padding:0;
}


.clear-padding{
  padding:0 !important;
}
.clear-row{
  padding:0 !important;
}

.section-volun .image{
  height: 330px;
  background-image: url('volunteer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-volun .container{
  background: none;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 60px;
}

.section-volun .container h1{
  margin-top:80px;
  margin-bottom: 60px;
}

.section-volun .container h4{
  font-family: 'Open Sans', sans-serif;
}

.volunteer-picture{
  height: 300px;
  transition: all 0.6s;
  cursor: pointer;
}

.volunteer-picture:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.pictures-volu{
  padding-top: 100px;
}

.volun-info{
  margin-top:20px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin-bottom: 30px;
}


// vlounteer information page
.volun-box{
  padding: 30px;
}

.clear-padding{
  padding:0;
}
.clear-row{
  padding-left:0;
  padding-right:0;
}

.section-volunteer{
  height: 1000px;
}

.section-volunteer .image-volun{
  height: 1000px;
  background-image: url('volunteer-create.jpg');
  background-repeat: no-repeat;
  background-size: cover;;

}

.section-volunteer .vlounteer-info{
  padding-top:100px;
}

.vlounteer-info{
  padding-left:70px;
  width: 500px;
}

.vlounteer-info h2{
  font-size: 30px;
  font-family: 'Merriweather', serif;

}

.vlounteer-info h3{
  font-size: 18px;
  font-family: 'Merriweather', serif;
  color:rgb(255, 180, 34);

}
  

.vlounteer-info .volun-lable{
  margin-top:14px;
  margin-bottom: 12px;
  font-size: 16px;

 
}

.vlounteer-info .form-control{
  height: 40px;
  border-radius:0;
  font-size: 15px;
}


.vlounteer-info .form-control:focus{
    border-color:rgb(255, 180, 34);
    box-shadow:none;
 
}

.volunteer-create{
  margin-top:20px;
  width: 430px;
  height: 30px;
  background: rgb(255, 180, 34);
  border:none;
  font-size:18px;
}

// index page
.section-index{
  height: 1300px;
}

.image-index{
  height: 300px;
  background-image: url('volunteer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-index .left-info{
  padding-left:30px;
  padding-right: 30px;
  margin-top:60px;
  padding-top:80px;
  background: rgb(255, 180, 34);
  height: 350px;
}


.section-index .left-info h2{

  color:white;
  font-size: 30px;
  font-weight: 700;
}

.section-index .left-info h5{
  color:white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}


.donate-button{
  margin-top:30px;
  padding-top:6px;
  display: inline-block;
  height: 40px;
  width: 180px;
  border:1px solid white;
  border-radius: 30px;
  font-size: 16px;
  color:white;
  text-decoration: none;
}

.donate-button:hover{
  color:rgb(255, 180, 34);
  text-decoration: none;
  background: white;
  border-color:rgb(255, 180, 34);

}


.section-index .image-right{
  margin-top:60px;
  height: 350px;
  background-image: url('image-right.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}



// show information

.volunteer-name{
  color:black;
}

.vlounteer-name:hover{
  color:rgb(255, 180, 34) ;
  text-decoration: none;
}

.section-show{
  height: 1400px;
}

.section-show .container{
  padding-top:120px;

}

.section-show .infor-top{

  text-align: center;
  margin-top:80px;
  box-sizing: border-box;
  padding-top:80px;
  padding-left: 30px;
  padding-right: 30px;
  height: 400px;
  background: rgb(255, 180, 34);
}

.infor-top .volun-name{
  margin-bottom: 30px;
}


.section-show .photo-volunteer{
  height: 550px;
}
.right-infor h1{
  margin:0;
}

.section-show .left-infor{
  text-align: left;
}

.section-show .show-infor{
  padding-right:60px;
  padding-top:20px;
  padding-left:30px;
  margin-top:20px;
  height: 250px;
  background: #f6f4ee;
}

.section-show .show-infor h3{
  margin-bottom: 15px;
}

.section-show .show-infor p{
  margin-bottom: 20px;
}


.section-show  .progress{
  background: white;
  border-radius: 2px;
  height: 6px !important;
  color:white;

}

.progress-bar-success {
  background-color: rgb(255, 180, 34);
}

.section-show .progress-bar{
  height: 8px !important;
}


.section-show .right-infor{
  text-align: left;
  padding-left:40px;
}

.section-show .right-infor p{
  margin-bottom: 40px;
}




