




<div class="organization-index">

    <div class="org-index">
        
    </div>

    <div class="container">

        <h1>Welcome to be a part of GoodGiving</h1>
        <h4>GlobalGiving is the largest global crowdfunding community connecting nonprofits, donors, and companies in nearly every country. We help nonprofits from Afghanistan to Zimbabwe (and hundreds of places in between) access the tools, training, and support they need to be more effective and make our world a better place.</h4>

        <div class="volun-box">
            <div class="col-md-6  mx-auto clear-padding clear-row">
                <div class="left-info">

                    <h2>Become a Organization</h2>
                    <h5>(some introduction)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit hendrerit faucibus. Suspendisse hendrerit turpis dui, eget ultricies erat consequat ut. Sed ac velit iaculis, condimentum.</h5>

                    <%= link_to 'Add Your Profile', new_organization_path , class:"profile-button"%>
                
                </div>
            </div>

            <div class="col-md-6  mx-auto clear-padding clear-row">
               <div class="image-right">
               </div>
            </div>
        
        
        </div>
    
    
    </div>


</div>












  











 


















