


<div class="donate-lineItem">

  

    <% line_item.charity.pictures.each do |picture| %>
        <%= image_tag picture, class:"donate-picture" %>
        <% break %>
    <% end %>
    <span class="charity-title"><%= line_item.charity.title%></span>

    <span class="price"><%= number_to_currency(line_item.total_price) %></span>
    <%= link_to 'Remove', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "remove-button" %>

</div>

   


