
<footer>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto box">
          <h4>About Us</h4>
          <p>Alienum phaedrum torquatos nec eu</p>
          
        </div>

        <div class="col-md-4 mx-auto box responsive">
          <h4>Call us <span>+615 4640 3304</span> </h4>
          <p>Visit us 2976 Washington St San Francisco</p>
        </div>
        <div class="col-md-4 mx-auto box responsive">
          <div class="icons">
            <i class="fa fa-facebook-official icon" aria-hidden="true"></i>
            <i class="fa fa-twitter-square icon" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square icon" aria-hidden="true"></i>      
        </div>
        </div>
        
   
      </div>
      

    </div>

  </div>

</footer>